.video-card {
    width: 18rem;
    cursor: pointer;
    margin-bottom: 1rem;
    justify-self: center;
}

.card-img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.card-details {
    position: relative;
}

.card-title {
    font-weight: 700;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.card-dropdown {
    position: absolute;
    background: var(--light-bg);
    border: 1px solid var(--border-color);
    z-index: 2;
    right: 1.2rem;
    top: 1rem;
}

.card-dropdown > li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}