.play-container {
    aspect-ratio: 16/9;
}

.action-container {
    justify-content: space-between;
}

.action-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
}

.input-comment {
    max-width: 100%;
}

.input-comment  .avatar {
    flex-shrink: 0;
}

.size-xs {
    width: 2.25rem;
    height: 2.25rem;
}

.video-container.flex-column.container-width {
    width: 90%;
    margin: 1rem auto;
    gap: 3rem;
}

@media screen and (max-width: 1240px) {
    .play-video-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1024px) {
    .video-container.flex-column.container-width{
        width: 100%;
    }   
}