.category-chips {
    background: var(--overlay-85);
    padding: 0.5rem;
    position: sticky;
    top: 3.9rem;
    z-index: 2;
}

.chip {
    cursor: pointer;
    background: var(--hover-color);
    color: var(--theme-text-color);
    padding: 5px 10px;
    margin: 8px 12px 8px 0;
    min-width: 3rem;
    text-align: center;
}

.chip:hover {
    filter: brightness(1.2);
}

.chip.active{
    background: var(--primary);
}

@media screen and (max-width: 520px) {
    .category-chips{
        top: 7.6rem;
    }
}