.search-container {
    position: relative;
    /* width: 40%; */
}

.search-input {
    background: var(--light-bg);
    color: var(--theme-text-color);
}

.search-icon {
    position: absolute;
    left: 1rem;
}

/* @media screen and (max-width: 860px) {
    .search-container{
        width:100%
    }
} */