.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light-bg);
    padding: 0.7rem 1.5rem;
    position: sticky;
    top:0;
    z-index: 3;
}

.logo {
    text-decoration: none;
    color: var(--secondary);
    font-size: 1.4rem;
    font-weight: bold;
}

.logo-image {
    width: 1.5rem;
}
