.sidebar-container {
    height: 100vh;
    position: fixed;
    z-index: 3;
}

.sidebar-item {
    color: var(--theme-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: 1rem 1rem 0.8rem 1.5rem;
}

.sidebar-item:hover {
    background: var(--hover-color);
}

.small-screen-sidebar {
    background: var(--light-bg);
}

.small-screen-sidebar ~ .video-container {
    margin-left: 0;
    opacity: 0.5;
    pointer-events: none;
  }

.sidebar-container.display-none ~ .video-container {
    margin-left: 0;
}

.sidebar-container .active {
    border-right: 2px solid var(--primary);
}

.sidebar-container .active > .icon {
   color: var(--primary);
}