body {
  background: var(--theme-bg);
  color: var(--theme-text-color);
}

.radius-0 {
  border-radius: 0;
}

.icon {
  color: var(--theme-text-color);
  cursor: pointer;
}

.primary {
  color: var(--theme-text-color);
}

.inverted-primary:hover, .inverted-primary:focus {
  color: var(--theme-text-color);
}