@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body {
  background: var(--theme-bg);
  color: var(--theme-text-color);
  font-family: 'Source Sans Pro', sans-serif;
}

.video-container {
  width: 100%;
  margin-left: 4.5rem;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 1rem;
  padding: 1.5rem;
}

.radius-0 {
  border-radius: 0;
}

.icon {
  color: var(--theme-text-color);
  cursor: pointer;
}

.primary {
  color: var(--theme-text-color);
}

.inverted-primary:hover, .inverted-primary:focus {
  color: var(--theme-text-color);
}

.rotate-y-180 {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg)
}

.display-none {
  display: none;
}

.content-between  {
  justify-content: space-between;
}

.flex-grow-1{
  flex-grow: 1;
}

.width-100 {
  width: 100%;
}

.light-hover:hover {
  background: var(--light-hover-color);
}

.border-top-3 {
  border-top: 3px solid var(--border-color);
}

.border-bottom-3 {
  border-bottom: 3px solid var(--border-color);
}