@import url("https://cdn.jsdelivr.net/gh/ApurvaSawant11/Dazzle-UI-Components@development/components/components.min.css");

:root {
  --primary: #FA2742;
  --secondary: #E8EAE3;
  --theme-bg: #2d2d2d;
  --header-bg:#3d3d3d;
  --theme-text-color: #E8EAE3;
  --shadow: #3c3c3c;
  --border-color: #646464;

}

